[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
commitizen = "*"
django-debug-toolbar = "*"

[packages]
wagtail = "*"
django = "*"
django-wagtail-feeds = "*"
wagtail-blocks = "*"
wagtail-lazyimages = "*"
wagtailstreamforms = ">=2"
wagtail-resume = "*"
wagtailcodeblock = "*"
wagtail-metadata = "*"
wagtail-readinglevel = "*"
django-recaptcha = "*"
wagtail-unsplash = "*"
django-prometheus = "*"
wagtailmenus = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
psycopg2-binary = "*"
django-storages = {extras = ["azure"], version = "*"}
django-sendgrid-v5 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
