:root {
    --background-color: #0E1319;
    --text-color: #eaecef;
    --black: #1b1d23;
    --dark-grey: #282c34cc;
    --light-grey: #e2e2e2cc;
    --green: #23d188;
    --cyan: #28b8db;
    --magenta: #ff0d8a;
    --light-magenta: #ff33b8;
    --magenta-box-shadow: #ff0d8a20;
    --animation-time: 5s;
}

body {
    font-weight: 200;
    padding-bottom: 5em;
    font-size: 18px;
}

h1 p {
    font-family: 'Overpass Mono', monospace;
    font-size: 75px;
    letter-spacing: -2.5%;
    line-height: 110%;
}

h1 span.accent {
    font-size: 100%;
    font-weight: 300;
}

h2 p {
    font-family: 'Exo 2', sans-serif;
    font-size: 48;
    letter-spacing: -2%;
    font-weight: 200;
}

h2 span.accent {
    font-family: "Overpass Mono", monospace;
    letter-spacing: -2.5%;
}

h3 p {
    font-family: "Exo 2", sans-serif;
    font-size: 30;
    font-weight: 200;
}

h3 span.accent {
    font-weight: 700;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 150%
}

body.template-homepage {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.help-text {
    color: var(--light-grey);
    font-size: 70%;
}

.jarallax {
    position: relative;
    z-index: 0;
    margin-bottom: 2em;
}

.jarallax>.jarallax-window {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -100;
}

.jarallax>.jarallax-window>div {
    min-height: 100em;
}

.align-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parallax-text {
    min-height: 50rem;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 3em;
    padding: 0 1em 0 1em;
}

.nav-link {
    height: 3em;
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--magenta);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--magenta);
    background: var(--background-color);
    font-weight: 700;
}

.darknav {
    background: var(--black);
    color: var(--text-color);
}

.content-container {
    margin-top: 3em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.form-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 5em;
    width: 100%;
    margin-bottom: 5rem;
    background: var(--black);
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
}

.invalid-feedback {
    display: block;
    width: 100%;
}

.errorlist {
    padding: 0;
    width: 100%;
    margin: 0;
}

.mask {
    position: block;
    left: 0;
    background: var(--black);
    opacity: 80%;
    z-index: 2;
}

.parallax-window .mask {
    height: 100vh;
}

span.accent {
    color: var(--magenta);
    font-size: 150%;
    font-weight: 700;
}

label {
    display: flex;
    margin-right: 20px;
}

.form-group ul {
    list-style-type: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 0.5em;
    margin-top: 0.25em;
}

.box-shadow {
    box-shadow: .5em .5em .5em var(--magenta-box-shadow);
}

.grid-right {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 18px;
    grid-template-areas: "featured featured side1" "featured featured side2" "featured featured side3";
}

.grid-left {
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 18px;
    grid-template-areas: "side1 featured featured" "side2 featured featured" "side3 featured featured";
}

.featured {
    height: 600px;
    grid-area: featured;
}

.side1 {
    grid-area: side1;
}

.side2 {
    grid-area: side2;
}

.side3 {
    grid-area: side3;
}

.text-post {
    background-color: var(--black);
    padding: 2em;
}

.blog-section {
    margin-top: 1em;
    width: 100%;
}

.image-post .mask {
    height: 100%;
}

.image-post:hover,
.text-post:hover {
    box-shadow: .75em .75em 0.5em var(--magenta);
}

.post-header {
    font-weight: 700;
}

.post-description {
    font-size: 85%;
}

.post-date {
    font-size: 12px;
    font-style: italic;
}

.flex-section>.rich-text {
    width: 80%;
    background-color: var(--black);
    box-shadow: .5em .5em .5em var(--magenta-box-shadow);
    padding: 3em;
    margin: 1em;
}

a {
    color: var(--text-color);
}

.flex-section>.rich-text>p a,
.flex-section>.rich-text>ul a,
.flex-section>.rich-text>ol a {
    color: var(--green);
    font-size: 110%;
}

a:hover {
    color: var(--magenta);
}

a:focus {
    color: var(--magenta);
}

.flex-section {
    margin: 0em;
}

blockquote {
    background-color: var(--black);
    width: 80%;
    padding: 2em;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .5em .5em .5em var(--magenta-box-shadow);
    font-size: 120%;
}

.document-section {
    background-color: var(--black);
    padding: 1em 3em 1em 3em;
    flex-direction: row;
}

.document-section>i {
    padding: 1em;
}

label {
    font-family: 'Overpass Mono', monospace;
}

.invalid-feedback,
#snackbar .error {
    color: var(--light-magenta);
    font-family: 'Exo 2';
    font-weight: 700;
}

#snackbar .success {
    color: var(--green);
    font-family: 'Exo 2';
    font-weight: 700;
}

input,
select,
textarea {
    width: 80%;
    background-color: var(--black);
    color: var(--text-color);
    border: 1px solid var(--magenta);
    border-radius: 5px;
    padding: .5em;
}

input[type=radio],
input[type=checkbox] {
    width: unset
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid #FFFFFFA0;
    animation: flicker var(--animation-time) ease alternate infinite;
    padding: .5em;
}

input[type=radio]:focus,
input[type=checkbox]:focus {
    animation: none;
}

input[type=submit] {
    width: unset;
    background-color: var(--black);
    border-radius: 5px;
    border: 2px solid #FFFFFFA0;
    animation: flicker var(--animation-time) ease alternate infinite;
    color: var(--text-color);
    font-family: 'Overpass Mono', monospace;
    padding: .75em;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background-color: var(--background-color);
    color: var(--magenta);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--dark-grey);
    color: var(--text-color);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes flicker {
    0%,
    19%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 0.5rem #FFFFFFA0, 0 0 1rem var(--magenta), inset 0 0 1rem var(--magenta);
    }
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}

@media only screen and (max-width: 768px) {
    .flex-section>.rich-text {
        width: 100%;
        background-color: var(--black);
        padding: 1.5em;
    }
    h1 p {
        margin: 1em;
        font-size: 60px;
    }
}