{% extends "base.html" %}
{% load static wagtailcore_tags %}



{% block body_class %}template-homepage{% endblock %}

{% block extra_meta %}
    <meta name="twitter:creator" content="@{{ page.author_twitter_handle }}" />
{% endblock extra_meta %}

{% block content %}


{% for block in page.body %}
    {% if block.block_type == "Parallax" %}
        {% include_block block with block_id=block.id %}
    {% elif block.block_type == "Timeline"%}
        <div class="container-fluid">
            {% include_block block with block_id=block.id %}
        </div>
    {% elif block.block_type == "Document" %}

        <div class="container-fluid center flex-section">
            <div class="document-section center box-shadow">
                <i class="fas fa-file-download fa-2x"></i>
                {% include_block block with block_id=block.id %}
            </div>
        </div>


    {% else %}
        <div class="container-fluid center flex-section {{block.block_type | lower}}-section">
            {% include_block block with block_id=block.id %}
        </div>
    {% endif %}
{% endfor %}
{% endblock content %}