<!-- <h2 class="form-header">{{ value.form.title }}</h2> -->
<form{% if form.is_multipart %} enctype="multipart/form-data" {% endif %} action="{{ value.form_action }}" method="post" novalidate>
    <div class="form-container container box-shadow">

        {{ form.media }} {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %} {% for field in form.visible_fields %}

        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    {{ field.label_tag}}
                </div>

                <div class="col-md">
                    {{ field }}
                </div>
            </div>
            {% if field.errors %}
            <div class="row">
                <div class="invalid-feedback col-md-6 offset-md-3">
                    {{ field.errors }}
                </div>
            </div>
            {% endif %} {% if field.help_text %}
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <small class="form-text help-text">{{ field.help_text }}</small>
                </div>
            </div>
            {% endif %}
        </div>



        {% endfor %}
        <input type="submit" value="{{ value.form.submit_button_text }}">
    </div>
    </form>