{% load static wagtailcore_tags %}
<nav class="navbar navbar-expand-sm navbar-dark darknav" id="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% for item in menu_items %}
            <a class="nav-item nav-link {{item.active_class}}" href="{{item.href}}">{{item.text}}</a> {% endfor %}
        </div>
    </div>
</nav>