{% load wagtailcore_tags wagtailimages_tags lazyimages_tags %} {% lazy_image self.img height-1000 format-webp as img%} {% block content %}
<div class="view jarallax">
    <div class="parallax-window" data-parallax="scroll" data-image-src="{{img.url}}" data-speed="{{self.speed}}">
        <div class="mask center">
            <div class="parallax-text container-fluid justify-center">
                <h1>{{self.text}}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block extra_js %}
<!-- Loaded From Parallax -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
{% endblock extra_js%}