{% load static %} {% block content %}
<div class="timeline">
    <div class="outer">
        <div class="inner">
            <div class="cir-wrapper">
                <div class="cir-outer circle">
                    <div class="cir-inner circle">&nbsp;</div>
                </div>
            </div>
            <div class="middle first-dot">
                &nbsp;
            </div>

            {% for section in self.sections %} {% if forloop.first %}
            <div class="timeline-section first">
                {% else %}
                <div class="timeline-section">
                    {% endif %} {% for blurb in section.blurbs %}
                    <div class="{% if forloop.parentloop.counter|divisibleby:2 %}left{% else %}right{% endif %}">
                        <div class="blurb container box-shadow" data-aos="{% if forloop.parentloop.counter|divisibleby:2 %}fade-left{% else %}fade-right{% endif %}">
                            <h2 class="post-header">{{blurb.blurb_header}}</h2>
                            <p>{{blurb.blurb_content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="middle last-dot">
                    &nbsp;
                </div>
                <div class="cir-wrapper">
                    <div class="cir-outer circle">
                        <div class="cir-inner circle">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%} {% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/timeline.css' %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> {% endblock extra_css %} {% block extra_js %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock extra_js %}